// main: ../main.scss

#video-page-wrapper
  display: flex
  margin-top: 0px

  #video-wrapper > .side-nav
    margin: 0


  #video-wrapper
    margin: 185px 20px 10px 20px

  #text-wrapper
    margin: 20px 20px

.quote
  //max-width: 300px

.side-nav
  margin: 157px 10px 5px 5px
  padding: 2px
  .side-thumbs
    .side-thumb-container
      width: 150px
      padding: 5px 5px 1px 5px
      margin: 5px 0px 12px 0px
      transition: all .2s ease-in-out
      > img
        filter: grayscale(1) brightness(50%)
        width: 100%
        height: auto
        transition: all .2s ease-in-out
      &:hover
        box-shadow: inset 2px 2px 0px #bbb, inset -2px -2px 0px #bbb
        img
          filter: grayscale(0)
      &.active
        box-shadow: inset 2px 2px 0px #666, inset -2px -2px 0px #666
        img
          filter: grayscale(0)

.side-images-wrapper
  margin: 185px 10px 5px 0px
  .side-images
    .side-image-container
      width: 200px
      > a img
        width: 100%
        height: auto

#video-menu-button
  display: none


@media screen and (max-width: 800px)

  .side-nav
    display: block
    position: fixed
    transform: translateX(-160px)
    transition: all .2s ease-in-out
    background: white
    &.open
      top: 0px

  #video-page-wrapper
    flex-direction: column
    margin: 50px auto
    padding: 0
    width: 100%
    transition: all .2s ease-in-out
    &.pushed
      transform: translateX(170px)

    #video-wrapper
      margin: 150px 10px 0px 10px
      padding: 0

  .side-images-wrapper
    margin-top: 10px
  .side-images
    margin: 0
    .side-image-container
      margin: 0 auto

  #video-menu-button
    display: block
    position: absolute
    top: 110px
    left: 10px
    cursor: pointer
    padding: 10px
    z-index: 9
    background: white
    border-radius: 50%

  .click-to-close
    background-color: rgba(255,255,255,0.4)
    width: 100%
    height: 100%
    position: absolute
    z-index: 9
    cursor: pointer
    display: none
    &.cover
      display: block
