{% extends "default.html" %}

{% block content %}

<div id="about-page">
  <div class="about-wrapper">
    <h2>Little Wolf</h2>
    <h3>Film / Photograpy / Art / Music</h3>
    <span><a href="mailto:Trev@littlewolf.ie">trev@littlewolf.ie</a><a href="tel:00353 861535763">00 353  86 1535763</a></span>
    <ul>
      <li class="vimeo">
        <a href="https://vimeo.com/user33305694"><i class="fa fa-vimeo" aria-hidden="true"></i></a>
      </li>
      <li class="instagram">
        <a href="https://www.instagram.com/trevwhelan/"><i class="fa fa-instagram" aria-hidden="true"></a></i>
      </li>
    </ul>
  </div>
{% endblock %}
