{% extends "default.html" %}

{% block content %}
<span id="video-menu-button">
  <i class="fa fa-list-ul" aria-hidden="true"></i>
</span>
<div id="video-page-wrapper">
  <div class="click-to-close"></div>
  <div class="side-nav">
    <div class="side-thumbs">
      <a href="corey-divine-london.html">
        <div class="side-thumb-container">
          <img src="img/Main_Vid_Thumbnails/Main_Corey.jpg" alt="">
        </div>
      </a>
      <a href="bordalo-berlin.html">
        <div class="side-thumb-container">
          <img src="img/Main_Vid_Thumbnails/Main_Bordalo_Berlin.jpg" alt="">
        </div>
      </a>
      <a href="bordalo-rome.html">
        <div class="side-thumb-container">
          <img src="img/Main_Vid_Thumbnails/Main_Bordalo_Rome.jpg" alt="">
        </div>
      </a>
      <a href="ajb-cave.html">
        <div class="side-thumb-container active">
          <img src="img/Main_Vid_Thumbnails/Main_AJB_Cave.jpg" alt="">
        </div>
      </a>
      <a href="findac-magnificent7.html">
        <div class="side-thumb-container">
          <img src="img/Main_Vid_Thumbnails/Main_Findac.jpg" alt="">
        </div>
      </a>
    </div>
  </div>
    <div id="main-content">
      <div id="video-wrapper">
        <iframe src="https://player.vimeo.com/video/192907108?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div id="text-wrapper">
        <h2>Alan-James Burns</h2>
        <h3>Entirel hollow aside from the dark / Dublin</h3><br>
        <p>Entirely hollow aside from the dark is a psycho-acoustic 19 channel sound performance at night time at Smuggler’s Cave - an ancient natural auditorium carved into the underbelly of Portrane’s cliff side. The cave embodied the mind of a female, questioning her reality, wherein an audible inner dialogue and choreographed sounds echoed the character’s thoughts, memories and consciousness. In the pitch black, this psycho-acoustic work unfolded and a symphony of sounds shifted around the cave from speaker to speaker.</p><br>
        <p><i>'Thinking is one of the defining characters that make us human, but too often we undermine it. We talk about what we think, but rarely about how we think. My practice explores the latter.'</i> Alan James Burns</p><br>
        <p>Directed &amp; Shot by Trev Whelan</p>
        <p>Music by: Ian Dunphy</p>
      </div>
    </div>
    <div class="side-images-wrapper">
      <div class="side-images">
        <div class="side-image-container">
          <a href="img/artist_fulls/AJB_Cave_1.jpg" class="swipebox">
            <img src="img/artist_thumbs/AJB_Cave_1.jpg" alt="AJB Cave image 1">
          </a>
        </div>
        <div class="side-image-container">
          <a href="img/artist_fulls/AJB_Cave2.jpeg" class="swipebox">
            <img src="img/artist_thumbs/AJB_Cave2.jpg" alt="AJB Cave image 2">
          </a>
        </div>
        <div class="side-image-container">
          <a href="img/artist_fulls/AJB_Cave3.jpg" class="swipebox">
            <img src="img/artist_thumbs/AJB_Cave3.jpg" alt="AJB Cave image 3" alt="">
          </a>
        </div>
      </div>
    </div>
</div>
{% endblock %}
