{% extends "default.html" %}

{% block content %}
<span id="video-menu-button">
  <i class="fa fa-list-ul" aria-hidden="true"></i>
</span>
<div id="video-page-wrapper">
  <div class="click-to-close"></div>
  <div class="side-nav">
    <div class="side-thumbs">
      <a href="corey-divine-london.html">
        <div class="side-thumb-container">
          <img src="img/Main_Vid_Thumbnails/Main_Corey.jpg" alt="">
        </div>
      </a>
      <a href="bordalo-berlin.html">
        <div class="side-thumb-container">
          <img src="img/Main_Vid_Thumbnails/Main_Bordalo_Berlin.jpg" alt="">
        </div>
      </a>
      <a href="bordalo-rome.html">
        <div class="side-thumb-container active">
          <img src="img/Main_Vid_Thumbnails/Main_Bordalo_Rome.jpg" alt="">
        </div>
      </a>
      <a href="ajb-cave.html">
        <div class="side-thumb-container">
          <img src="img/Main_Vid_Thumbnails/Main_AJB_Cave.jpg" alt="">
        </div>
      </a>
      <a href="findac-magnificent7.html">
        <div class="side-thumb-container">
          <img src="img/Main_Vid_Thumbnails/Main_Findac.jpg" alt="">
        </div>
      </a>
    </div>
  </div>
    <div id="main-content">
      <div id="video-wrapper">
        <iframe src="https://www.youtube.com/embed/ttJhyzhmOZo" frameborder="0" mozallowfullscreen webkitallowfullscreen allowfullscreen></iframe>
      </div>
      <div id="text-wrapper">
        <h2>BORDALO II</h2>
        <h3>Forgotten Project / Rome</h3><br>
        <p>Bordalo II creates ‘Uma Cabra’ at St. Peter’s Train station minutes walk from the Vatican for the third artistic intervention by Forgotten Project. This aims to highlight some central buildings of the city of Rome that, due to several factors, are going to be somehow "forgotten". Thanks to this project, five Portuguese artists, very popular in recent years in Europe and all over the world, are invited for the first time in Rome to realize urban artworks, everyone with their own personal technique.​<br>
          'Well I’m not a teacher, or a God or whatever, but I want to contribute with something true and genuine, to give an option for those who want to see what’s hidden. I’m interested by strong messages translated in black humour, jokes, puns, and other efficient ways that will make you stop and think.' Bordalo II</p><br>
        <p>Directed by Trev Whelan + Leonardo Meuti</p>
        <p>Music by: (Steady State) Reset the Day</p>
      </div>
    </div>
    <div class="side-images-wrapper">
      <div class="side-images">
        <div class="side-image-container">
          <a href="img/artist_fulls/bordalo_Rome1.jpeg" class="swipebox">
            <img src="img/artist_thumbs/bordalo_Rome1.jpg" alt="Bordalo Rome image 1">
          </a>
        </div>
        <div class="side-image-container">
          <a href="img/artist_fulls/Bordalo_Rome2.jpg" class="swipebox">
            <img src="img/artist_thumbs/Bordalo_Rome2.jpg" alt="Bordalo Rome image 2">
          </a>
        </div>
        <div class="side-image-container">
          <a href="img/artist_fulls/Bordalo_Rome3.jpeg" class="swipebox">
            <img src="img/artist_thumbs/Bordalo_Rome3.jpg" alt="Bordalo Rome image 3" alt="">
          </a>
        </div>
      </div>
    </div>
</div>
{% endblock %}
