{% extends "default.html" %}

{% block content %}
<span id="video-menu-button">
  <i class="fa fa-list-ul" aria-hidden="true"></i>
</span>
<div id="video-page-wrapper">
  <div class="click-to-close"></div>
  <div class="side-nav">
    <div class="side-thumbs">
      <a href="corey-divine-london.html">
        <div class="side-thumb-container">
          <img src="img/Main_Vid_Thumbnails/Main_Corey.jpg" alt="">
        </div>
      </a>
      <a href="bordalo-berlin.html">
        <div class="side-thumb-container active">
          <img src="img/Main_Vid_Thumbnails/Main_Bordalo_Berlin.jpg" alt="">
        </div>
      </a>
      <a href="bordalo-rome.html">
        <div class="side-thumb-container">
          <img src="img/Main_Vid_Thumbnails/Main_Bordalo_Rome.jpg" alt="">
        </div>
      </a>
      <a href="ajb-cave.html">
        <div class="side-thumb-container">
          <img src="img/Main_Vid_Thumbnails/Main_AJB_Cave.jpg" alt="">
        </div>
      </a>
      <a href="findac-magnificent7.html">
        <div class="side-thumb-container">
          <img src="img/Main_Vid_Thumbnails/Main_Findac.jpg" alt="">
        </div>
      </a>
    </div>
  </div>
    <div id="main-content">
      <div id="video-wrapper">
        <iframe src="https://player.vimeo.com/video/138839241?byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div id="text-wrapper">
        <h2>BORDALO II</h2>
        <h3>Froelicher Toucan / Berlin</h3><br>
        <p>Bordalo II migrates his renowned &#39;Trash Animal&#39; series from Portugal to Germany, creating a surprise installation at Berlin&#39;s legendary creative hub, Urban Spree. Through rain, sun, and snowfall, the entire installation was completed in less than 72 hours. This promo, &#39;Froehlicher Tucan&#39; documents Bordalo II&#39;s process in its entirety - from inception to collection, installation to realization.</p>
      </div>
    </div>
    <div class="side-images-wrapper">
      <div class="side-images">
        <div class="side-image-container">
          <a href="img/artist_fulls/Bordalo_Berlin1.jpg" class="swipebox">
            <img src="img/artist_thumbs/Bordalo_Berlin1.jpg" alt="Bordalo Berlin image 1">
          </a>
        </div>
        <div class="side-image-container">
          <a href="img/artist_fulls/Bordalo_Berlin2.jpg" class="swipebox">
            <img src="img/artist_thumbs/Bordalo_Berlin2.jpg" alt="Bordalo Berlin image 2">
          </a>
        </div>
        <div class="side-image-container">
          <a href="img/artist_fulls/Bordalo_Berlin3.jpg" class="swipebox">
            <img src="img/artist_fulls/Bordalo_Berlin3.jpg" alt="Bordalo Berlin image 3" alt="">
          </a>
        </div>
      </div>
    </div>
</div>
{% endblock %}
