{% extends "default.html" %}

{% block content %}
<div id="video-page-wrapper">
  <div class="side-nav">
    <div class="side-thumbs">
      <a href="corey-divine-london.html">
        <div class="side-thumb-container">
          <img src="img/Main_Vid_Thumbnails/Main_Corey.jpg" alt="">
        </div>
      </a>
      <a href="bordalo-berlin.html">
        <div class="side-thumb-container">
          <img src="img/Main_Vid_Thumbnails/Main_Bordalo_Berlin.jpg" alt="">
        </div>
      </a>
      <a href="bordalo-rome.html">
        <div class="side-thumb-container active">
          <img src="img/Main_Vid_Thumbnails/Main_Bordalo_Rome.jpg" alt="">
        </div>
      </a>
      <a href="ajb-cave.html">
        <div class="side-thumb-container">
          <img src="img/Main_Vid_Thumbnails/Main_AJB_Cave.jpg" alt="">
        </div>
      </a>
      <a href="findac-magnificent7.html">
        <div class="side-thumb-container">
          <img src="img/Main_Vid_Thumbnails/Main_Findac.jpg" alt="">
        </div>
      </a>
    </div>
  </div>
    <div id="main-content">
      <div id="video-wrapper">
        <iframe src="https://www.youtube.com/embed/ttJhyzhmOZo" frameborder="0" mozallowfullscreen webkitallowfullscreen allowfullscreen></iframe>
      </div>
      <div id="text-wrapper">
        <h2>BORDALO II</h2>
        <h3>Forgotten Project / Rome</h3><br>
        <p>Bordalo II migrates his renowned &#39;Trash Animal&#39; series from Portugal to Germany, creating a surprise installation at Berlin&#39;s legendary creative hub, Urban Spree. Through rain, sun, and snowfall, the entire installation was completed in less than 72 hours. This promo, &#39;Froehlicher Tucan&#39; documents Bordalo II&#39;s process in its entirety - from inception to collection, installation to realization.</p><br>
        <p>Directed by Trev Whelan + Rebecca Basaure</p>
        <p>Music by: (Steady State) Reset the Day + Droid Culture</p>
      </div>
    </div>
    <div class="side-images-wrapper">
      <div class="side-images">
        <div class="side-image-container">
          <a href="img/artist_fulls/bordalo_Rome1.jpeg" class="swipebox">
            <img src="img/artist_thumbs/bordalo_Rome1.jpg" alt="Bordalo Rome image 1">
          </a>
        </div>
        <div class="side-image-container">
          <a href="img/artist_fulls/Bordalo_Rome2.jpg" class="swipebox">
            <img src="img/artist_thumbs/Bordalo_Rome2.jpg" alt="Bordalo Rome image 2">
          </a>
        </div>
        <div class="side-image-container">
          <a href="img/artist_fulls/Bordalo_Rome3.jpeg" class="swipebox">
            <img src="img/artist_thumbs/Bordalo_Rome3.jpg" alt="Bordalo Rome image 3" alt="">
          </a>
        </div>
      </div>
    </div>
</div>
{% endblock %}
