{% extends "default.html" %}

{% block content %}
<span id="video-menu-button">
  <i class="fa fa-list-ul" aria-hidden="true"></i>
</span>
<div id="video-page-wrapper">
  <div class="click-to-close"></div>
  <div class="side-nav">
    <div class="side-thumbs">
      <a href="corey-divine-london.html">
        <div class="side-thumb-container active">
          <img src="img/Main_Vid_Thumbnails/Main_Corey.jpg" alt="">
        </div>
      </a>
      <a href="bordalo-berlin.html">
        <div class="side-thumb-container">
          <img src="img/Main_Vid_Thumbnails/Main_Bordalo_Berlin.jpg" alt="">
        </div>
      </a>
      <a href="bordalo-rome.html">
        <div class="side-thumb-container">
          <img src="img/Main_Vid_Thumbnails/Main_Bordalo_Rome.jpg" alt="">
        </div>
      </a>
      <a href="ajb-cave.html">
        <div class="side-thumb-container">
          <img src="img/Main_Vid_Thumbnails/Main_AJB_Cave.jpg" alt="">
        </div>
      </a>
      <a href="findac-magnificent7.html">
        <div class="side-thumb-container">
          <img src="img/Main_Vid_Thumbnails/Main_Findac.jpg" alt="">
        </div>
      </a>
    </div>
  </div>
    <div id="main-content">
      <div id="video-wrapper">
        <p>VIDEO COMING SOON</p>
      </div>
      <div id="text-wrapper">
        <h2>COREY DIVINE</h2>
        <h3>LONDON</h3><br>
        <p class="quote"><i>“Together, utilizing Sacred Geometry Art, we can raise the vibration of the planet and uplift humanity.”</i> ~ Corey Divine</p><br>
        <p>LA based Corey Divine is a tattoo artist who focuses on sacred geometry. Mostly in blackwork, but sometimes using colors, he creates intricate and impressive pieces of sacred geometric patterns. For my first tattoo I met Corey in London and together with Rua Meegan captured some smooth moments of him at work.</p><br>
        <p>Directed &amp; Shot by Trev Whelan + Rua Meegan<br>Music by: Steady State</p>
      </div>
    </div>
    <div class="side-images-wrapper">
      <div class="side-images">
        <div class="side-image-container">
          <a href="img/artist_fulls/Corey1.jpeg" class="swipebox">
            <img src="img/artist_thumbs/Corey1.jpg" alt="Corey Divine image 1">
          </a>
        </div>
        <div class="side-image-container">
          <a href="img/artist_fulls/Corey2.jpg" class="swipebox">
            <img src="img/artist_thumbs/Corey2.jpg" alt="Corey Divine image 2">
          </a>
        </div>
        <div class="side-image-container">
          <a href="img/artist_fulls/Corey3.jpg" class="swipebox">
            <img src="img/artist_thumbs/Corey3.jpg" alt="Corey Divine image 3" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
