{% extends "default.html" %}

{% block content %}
<div id="video-page-wrapper">
  <div class="side-nav">
    <div class="side-thumbs">
      <a href="corey-divine-london.html">
        <div class="side-thumb-container">
          <img src="img/Main_Vid_Thumbnails/Main_Corey.jpg" alt="">
        </div>
      </a>
      <a href="bordalo-berlin.html">
        <div class="side-thumb-container">
          <img src="img/Main_Vid_Thumbnails/Main_Bordalo_Berlin.jpg" alt="">
        </div>
      </a>
      <a href="bordalo-rome.html">
        <div class="side-thumb-container">
          <img src="img/Main_Vid_Thumbnails/Main_Bordalo_Rome.jpg" alt="">
        </div>
      </a>
      <a href="ajb-cave.html">
        <div class="side-thumb-container">
          <img src="img/Main_Vid_Thumbnails/Main_AJB_Cave.jpg" alt="">
        </div>
      </a>
      <a href="findac-magnificent7.html">
        <div class="side-thumb-container active">
          <img src="img/Main_Vid_Thumbnails/Main_Findac.jpg" alt="">
        </div>
      </a>
    </div>
  </div>
    <div id="main-content">
      <div id="video-wrapper">
        <iframe src="https://player.vimeo.com/video/120977178?byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div id="text-wrapper">
        <h2>FIN DAC</h2>
        <h3>MAGNIFICENT 7 / Dublin</h3><br>
        <p>FIN DAC, one of the world’s finest urban aesthetic artists Fin DAC was commissioned by the Gibson Hotel to create 7 portraits in his unique style.
          ‘Inspiration is a gift from the universe, talent is an ability to bring it to fruition and humility is the experience you should achieve when you share it’ Fin Dac</p><br>
        <p>Directed &amp; Shot by Trev Whelan</p>
        <p>Music by: (Steady State) Reset the Day</p>
      </div>
    </div>
    <div class="side-images-wrapper">
      <div class="side-images">
        <div class="side-image-container">
          <a href="img/artist_fulls/Findac1.jpg" class="swipebox">
            <img src="img/artist_thumbs/Findac1.jpg" alt="Findac image 1">
          </a>
        </div>
        <div class="side-image-container">
          <a href="img/artist_fulls/Findac2.jpg" class="swipebox">
            <img src="img/artist_thumbs/Findac2.jpg" alt="Findac image 2">
          </a>
        </div>
        <div class="side-image-container">
          <a href="img/artist_fulls/Findac3.JPG" class="swipebox">
            <img src="img/artist_thumbs/Findac3.jpg" alt="Findac image 3" alt="">
          </a>
        </div>
      </div>
    </div>
</div>
{% endblock %}
