{% extends "default.html" %}

{% block content %}
<div id="gallery">
  <h2>Something</h2>
  <a class="swipebox" href="http://fillmurray.com/900/901">
      <img alt=" Add caption or have no caption" src="http://fillmurray.com/900/901"/>
  </a>
  <a class="swipebox" href="http://fillmurray.com/900/902">
      <img alt=" Add caption or have no caption" src="http://fillmurray.com/900/902"/>
  </a>
  <a class="swipebox" href="http://fillmurray.com/900/903">
      <img alt=" Add caption or have no caption" src="http://fillmurray.com/900/903"/>
  </a>
  <a class="swipebox" href="http://fillmurray.com/900/904">
      <img alt=" Add caption or have no caption" src="http://fillmurray.com/900/904"/>
  </a>
  <a class="swipebox" href="http://fillmurray.com/900/905">
      <img alt=" Add caption or have no caption" src="http://fillmurray.com/900/905"/>
  </a>
  <a class="swipebox" href="http://fillmurray.com/900/906">
      <img alt=" Add caption or have no caption" src="http://fillmurray.com/900/906"/>
  </a>
  <a class="swipebox" href="http://fillmurray.com/900/907">
      <img alt=" Add caption or have no caption" src="http://fillmurray.com/900/907"/>
  </a>
  <a class="swipebox" href="http://fillmurray.com/900/908">
      <img alt=" Add caption or have no caption" src="http://fillmurray.com/900/908"/>
  </a>
  <a class="swipebox" href="http://fillmurray.com/900/909">
      <img alt=" Add caption or have no caption" src="http://fillmurray.com/900/909"/>
  </a>
  <a class="swipebox" href="http://fillmurray.com/250/900">
      <img alt=" Add caption or have no caption" src="http://fillmurray.com/250/900"/>
  </a>
  <a class="swipebox" href="http://fillmurray.com/900/900">
      <img alt=" Add caption or have no caption" src="http://fillmurray.com/900/900"/>
  </a>
  <a class="swipebox" href="http://fillmurray.com/906/900">
      <img alt=" Add caption or have no caption" src="http://fillmurray.com/906/900"/>
  </a>
</div>

{% endblock %}
