{% extends "default.html" %}

{% block content %}

<div id="video-thumbnail-gallery">
  <h2>Something</h2>
  <div id="thumbnail-wrapper">
    <div class="thumbnail tm1">
      <a href="gallery-one.html">
          <img src="http://fillmurray.com/300/200"/>
          <h3>Gallery One</h3>
          <span class="overlay-text">VIEW GALLERY</span>
      </a>
    </div>
    <div class="thumbnail tm2">
      <a href="gallery-one.html">
          <img src="http://fillmurray.com/300/201"/>
          <h3>Gallery Two</h3>
          <span class="overlay-text">VIEW GALLERY</span>
      </a>
    </div>
    <div class="thumbnail tm3">
      <a href="gallery-one.html">
          <img src="http://fillmurray.com/290/203"/>
          <h3>Gallery Three</h3>
          <span class="overlay-text">VIEW GALLERY</span>
      </a>
    </div>
    <div class="thumbnail tm4">
      <a href="gallery-one.html">
          <img src="http://fillmurray.com/295/203"/>
          <h3>Gallery Four</h3>
          <span class="overlay-text">VIEW GALLERY</span>
      </a>
    </div>
  </div>
</div>
{% endblock %}
