{% extends "default.html" %}

{% block content %}
<div id="talent-page">
  <div>
    <h3>Collaborators</h3>
  </div>
  <div class="collabs-wrapper">
    <div class="collabs">
      <h2>Findac</h2>
      <div>
        <img class="collab-logo" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xaf1/v/t1.0-9/376227_10150952417647163_1402937846_n.jpg?oh=5341f5cb847a235896e4ae2265caee9d&oe=58101CDB&__gda__=1477946448_e8947b62d0e93c1b2e10d12831e52477" alt="Findac Logo">
      </div>
      <a href="https://www.instagram.com/findac/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/finbarr-dac-102099492162/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    </div>
    <div class="collabs">
      <h2>Bordalo II</h2>
      <div>
        <img class="collab-logo" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/11193397_867444989981072_6591761760441469125_n.jpg?oh=f3775b57f639bb8c65ec89dbc35bcdd5&oe=58132216&__gda__=1478644910_9cded114ab35ec97a543db47ae90cab3" alt="Bordalo-Logo">
      </div>
      <a href="https://www.instagram.com/b0rdalo_ii/?hl=en "><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/BORDALOII/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
{% endblock %}
