{% extends "default.html" %}

{% block content %}
<div id="talent-page">
  <div class="collabs-wrapper">
    <div class="collab">
      <div class="logo">
        <div class="logo-container">
          <img src="img/Talent_Page/Corey_Logo.png" alt="Corey Logo">
        </div>
      </div>
      <div class="name">
        <p>Corey Divine</p>
      </div>
      <div class="links">
        <a target="_blank" href="http://coreydivine.com/">
          <i class="fa fa-globe" aria-hidden="true"></i>
        </a>
        <a target="_blank" href="https://www.instagram.com/coreydivine/">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="collab">
      <div class="logo">
        <div class="logo-container">
          <img src="img/Talent_Page/BORDALOII.jpg" alt="Bordalo Logo">
        </div>
      </div>
      <div class="name">
        <p>Bordalo II</p>
      </div>
      <div class="links">
        <a target="_blank" href="http://www.bordaloii.com/">
          <i class="fa fa-globe" aria-hidden="true"></i>
        </a>
        <a target="_blank" href="https://www.instagram.com/b0rdalo_ii/">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="collab">
      <div class="logo">
        <div class="logo-container">
          <h1 style="color:#111;font-weight:400">AJB</h1>
        </div>
      </div>
      <div class="name">
        <p>Alan-James Burns</p>
      </div>
      <div class="links">
        <a target="_blank" href="http://www.alanjamesburns.com/#/">
          <i class="fa fa-globe" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="collab">
      <div class="logo">
        <div class="logo-container">
          <img style="width: 100px; margin: 0 auto" src="img/Talent_Page/Findac.jpg" alt="">
        </div>
      </div>
      <div class="name">
        <p>FIN DAC</p>
      </div>
      <div class="links">
        <a target="_blank" href="http://findac.tumblr.com/">
          <i class="fa fa-globe" aria-hidden="true"></i>
        </a>
        <a target="_blank" href="https://www.instagram.com/findac/">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="collab">
      <div class="logo">
        <div class="logo-container">
          <img style="width: 100px; margin: 0 auto" src="img/Talent_Page/Rua_Meegan.png" alt="">
        </div>
      </div>
      <div class="name">
        <p>Rua Meegan</p>
      </div>
        <div class="links">
          <a target="_blank" href="http://ruameegancamera.com/wp/director-of-photography/">
            <i class="fa fa-globe" aria-hidden="true"></i>
          </a>
        </div>
    </div>
    <div class="collab">
      <div class="logo">
        <div class="logo-container">
          <img style="width: 100px; margin: 0 auto" src="img/Talent_Page/Forgotten.png" alt="">
        </div>
      </div>
      <div class="name">
        <p>Forgotten Project</p>
      </div>
    <div class="links">
      <a target="_blank" href="http://www.forgottenproject.it/en/">
        <i class="fa fa-globe" aria-hidden="true"></i>
      </a>
    </div>
  </div>
    <div class="collab">
      <div class="logo">
        <div class="logo-container">
          <img style="width: 100px; margin: 0 auto" src="img/Talent_Page/Colabs.png" alt="">
        </div>
      </div>
      <div class="name">
        <p>Co-Labs</p>
      </div>
    <div class="links">
      <a target="_blank" href="http://www.co-labs.us/">
        <i class="fa fa-globe" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
{% endblock %}
