{% extends "default.html" %}

{% block content %}
<div id="video-container">
  <div class="video video-one">
    <div class="about-video">
      <div class="description">
        <h2>FINDAC “MAGNIFICENT 7”</h2>
        <p>A film of 7 portraits created by urban aesthetic artist FIN DAC in Dublin, Ireland.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde eveniet quia voluptatum, laborum atque voluptatibus distinctio debitis, placeat animi neque dolores architecto nulla, aperiam vel possimus quibusdam reiciendis accusantium quo?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis nulla, iusto doloremque, eaque, iure id fuga mollitia repellendus quidem error dicta ipsum pariatur amet eveniet facere omnis iste! Blanditiis, odio.</p>
      </div>
      <div class="photos">
        <div><img src="http://fillmurray.com/200/200" alt=""></div>
        <div><img src="http://fillmurray.com/200/201" alt=""></div>
        <div><img src="http://fillmurray.com/201/200" alt=""></div>
        <div><img src="http://fillmurray.com/201/201" alt=""></div>
      </div>
    </div>
    <iframe src="https://player.vimeo.com/video/120977178?color=ff9933&title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>
{% endblock %}
