{% extends "default.html" %}

{% block content %}
<div id="video-thumbnail-gallery">
  <div id="thumbnail-wrapper">
    <ul id="thumbnail-list">
      <a href="corey-divine-london.html">
        <li class="thumbnail-list-item">
          <div class="thumb">
            <img src="img/video-thumbs/Main_Corey.jpg" alt="Corey Divine">
          </div>
          <div class="thumb-title">
            <p>COREY DIVINE / LONDON</p>
          </div>
        </li>
      </a>
      <a href="bordalo-berlin.html">
        <li class="thumbnail-list-item">
          <div class="thumb">
            <img src="img/video-thumbs/Main_Bordalo_Berlin.jpg" alt="Bordalo Berlin">
          </div>
          <div class="thumb-title">
            <p>BORDALO II / Froelicher Toucan</p>
          </div>
        </li>
      </a>
      <a href="bordalo-rome.html">
        <li class="thumbnail-list-item">
          <div class="thumb">
            <img src="img/video-thumbs/Main_Bordalo_Rome.jpg" alt="Bordalo Rome">
          </div>
          <div class="thumb-title">
            BORDALO II / Forgotten Project
          </div>
        </li>
      </a>
      <a href="ajb-cave.html">
        <li class="thumbnail-list-item">
          <div class="thumb">
            <img src="img/video-thumbs/Main_AJB_Cave.jpg" alt="Alan-James Burns">
          </div>
          <div class="thumb-title">
            <p>Alan-James Burns / Entirely hollow aside from the dark</p>
          </div>
        </li>
      </a>
      <a href="findac-magnificent7.html">
        <li class="thumbnail-list-item">
          <div class="thumb">
            <img src="img/video-thumbs/Main_Findac.jpg" alt="Findac">
          </div>
          <div class="thumb-title">
            <p>FINDAC / Magnificent 7</p>
          </div>
        </li>
      </a>
    </ul>
  </div>
</div>
{% endblock %}
