{% extends "default.html" %}

{% block content %}
<div id="video-thumbnail-gallery">
  <h2>Something</h2>
  <div id="thumbnail-wrapper">
    <div class="thumbnail tm1">
      <a href="video-one.html">
          <img src="https://i.vimeocdn.com/video/509004968_295x166.webp"/>
          <h3>FINDAC “MAGNIFICENT 7”</h3>
          <span class="overlay-text">MORE INFO</span>
      </a>
    </div>
    <div class="thumbnail tm2">
      <a href="#">
          <img src="https://i.ytimg.com/vi/ttJhyzhmOZo/hqdefault.jpg?custom=true&amp;w=196&amp;h=110&amp;stc=true&amp;jpg444=true&amp;jpgq=90&amp;sp=68&amp;sigh=UYLIfEwaEsMYtErBrSYYFBJ7Fpk"/>
          <h3>BORDALO II<br>per FORGOTTEN_Uma cabra</h3>
          <span class="overlay-text">MORE INFO</span>
      </a>
    </div>
    <div class="thumbnail tm3">
      <a href="#">
          <img src="https://i.vimeocdn.com/video/535802667_295x166.webp"/>
          <h3>Bordalo Rising : ‘Froehlicher Tucan’</h3>
          <span class="overlay-text">MORE INFO</span>
      </a>
    </div>
  </div>
</div>
{% endblock %}
