{% extends "default.html" %}

{% block content %}
<div id="video-container">
  <div class="video video-one">
    <div class="about-video">
      <div class="description">
        <h2>BORDALO II per FORGOTTEN_Uma cabra</h2>
        <p>Speaks about little stations the third artistic intervention
by Forgotten Project, that aims to highlight some central buildings of the city of Rome that, due to several factors, are going to be somehow "forgotten". Thanks to this project, five Portuguese artists, very popular in recent years in Europe and all over the world, are invited for the first time in Rome to realize urban artworks, everyone with their own personal technique.​</p>
      </div>
      <div class="photos">
        <div><img src="http://fillmurray.com/203/203" alt=""></div>
        <div><img src="http://fillmurray.com/203/201" alt=""></div>
        <div><img src="http://fillmurray.com/203/205" alt=""></div>
        <div><img src="http://fillmurray.com/201/201" alt=""></div>
      </div>
    </div>
    <iframe src="https://player.vimeo.com/video/120977178?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>
{% endblock %}
